  <h2>Lobby Page</h2>
  <h4>Welcome {{ myUsername }}</h4>
  <div class="row col-sm-12">
    <button class="btn btn-primary" (click)="updateUsername = ! updateUsername">Update Name</button>
    <button class="btn btn-success" (click)="createRoom = ! createRoom">Create Room</button>
    <button class="btn btn-warning" (click)="onClickLogout()">Logout</button>
  </div>
  <div class="row col-sm-12" *ngIf="updateUsername"> 
    <input  placeholder="Update Username" [(ngModel)]="inputUsername" (keyup.enter)="onUpdateUsername()">
    <button class="btn btn-info" (click)="onUpdateUsername()">Update Username</button>
  </div>
  <div class="row col-sm-12" *ngIf="createRoom">
    <input placeholder="Create Room" [(ngModel)]="inputRoomname" (keyup.enter)="onCreateRoom()">
    <button class="btn btn-success" (click)="onCreateRoom()">Create Room</button>
  </div>
  
    <section id="room-list">
        <h4>Room List</h4>
        <div *ngFor = " let id of roomIds " >
            <div *ngIf="rooms[id].name ">
                <h5 (click)="onJoinRoom(rooms[id].name)">
                    {{ rooms[id].name }}
                </h5>
                <div>
                    <span *ngFor = " let user of rooms[id].users " socket=" user.socket">
                        {{ user.name }}
                    </span>
                </div>
            </div>
        </div>
    </section>

    <div class="chatbox" myautoscroll>
        <div *ngFor="let messageData of listMessage[0].messages ">
            <b>{{messageData.name}} </b>{{ messageData.message }}
        </div>
    </div>

  <input  placeholder="Input Message" [(ngModel)]="inputMessage" (keyup.enter)="onSendMessage(inputMessage)">
  <button class="btn btn-warning" (click)="onSendMessage(inputMessage)">Send Message</button>