$large_break: 730px;
$left_large_width: 226px;
$colorblue: #42bdec;
$colorgrey:#4a5a71;
$wb_width: 440px;
$wb_height: 340px;


#video-container {
    position:relative;
    width: 100%;
    @media all and ( min-width: $large_break ) {
        width: $left_large_width;
    }
    video {
        display: block;
    }
   
}

#room-settings {
    width: 100%;
    background-color: $colorgrey;
    color:#fff;
  
    @media all and ( min-width: $large_break ) {
        width: $left_large_width;
    }
}
#device-settings {
    width: 100%;
    background-color: $colorgrey;
    color:#fff;
    @media all and ( min-width: $large_break ) {
        width: $left_large_width;
    }
}
#chat{
    width: 100%;
    background-color:$colorgrey;
    @media all and ( min-width: $large_break ) {
        width: $left_large_width;
    }
    .chatbox {
        background-color:#353e4a;
        color:white;
        height: 140px;
        overflow: hidden;
        overflow-y: scroll;        
    }
}

#image-directory {
    background-color: $colorblue;
    width: 100%;
    input,p {
        color:white;
    }
    @media all and ( min-width: $large_break ) {
        width: $left_large_width;
        input {
            color:white;
            font-size:13px;
        }
        img {
            width: $left_large_width;
        }
    }
}

#whiteboard-container {
    position:relative;
    width: $wb_width;
    height: $wb_height;
   
    @media all and ( min-width: $large_break ) {
        position: absolute;
        z-index: 100;
        top: 85px;
        left: $left_large_width + 2px;
    }
    canvas {
        position: absolute;
        border:solid 1px $colorgrey;
        z-index: 101;
    }
    #canvas-image {
        position: absolute;
        z-index: 0;
        width: 100%;
    }
    #group-button {
        z-index: 102;
        display: block;
        position: absolute;
        top: 0.2em;
        right: 0.2em;
    }
}