  <header>
  <nav class="navbar">
    <div class="container-fluid">
      <div class="row">
        <div class="col-xs-4 col-sm-4">
          <logo-component></logo-component>
        </div>
        <div class="col-xs-8 col-sm-8">
            <button class="btn btn-info float-xs-right" (click)="onClickLobby()"><i class="fa fa-sign-out" aria-hidden="true" ></i></button>
            <button class="btn btn-info float-xs-right" (click)="onClickMenu()"><i class="fa fa-cog" aria-hidden="true" ></i></button>
            <button class="btn btn-info float-xs-right" (click)="onClickWhiteboard()"><i class="fa fa-pencil-square-o" aria-hidden="true" ></i></button>
        </div>
      </div>
    </div>
  </nav>  
</header>
  <div id="room-settings" *ngIf="show.settingsDisplay">
        <div>
        <button class='btn btn-info form-control' (click)="show.deviceDisplay = ! show.deviceDisplay">
           Device Settings <i class="fa fa-cog" aria-hidden="true"></i> 
        </button>
        </div>
        <div>
        <button class='btn btn-info form-control' (click)="show.chatDisplay = ! show.chatDisplay">
            Chat Message <i class="fa fa-comments" aria-hidden="true"></i>
        </button>
        </div>
        <div>
        <button class='btn btn-info form-control' (click)="onClickWhiteboard()">
            Whiteboard <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
        </button>
        </div>
        <div>
        <button class='btn btn-info form-control' (click)="show.assetDisplay = ! show.assetDisplay">
            Assets <i class="fa fa-picture-o" aria-hidden="true"></i>
        </button>
        </div>
        <div>
        <button class='btn btn-info form-control' (click)="onClickLobby()">
            Leave <i class="fa fa-sign-out" aria-hidden="true"></i>
        </button>
        </div>
    </div> 
    <div id="room-page">
     
        <div *ngIf="show.deviceDisplay" id="device-settings">
            <select [(ngModel)]="vs.selectAudio" (ngModelChange)="onChangeAudio($event)">
                <option value="">Select default Audio</option>
                <option *ngFor="let audio of audios" value="{{ audio.value }}" >{{audio.text}}</option>
            </select>
            <select [(ngModel)]="vs.selectVideo" (ngModelChange)="onChangeVideo($event)">
                <option value="">Select default Video</option>
                <option *ngFor="let video of videos" value="{{ video.value }}" >{{video.text}}</option>
            </select>
        </div>
        <div id="video-container"></div>
        
        <div *ngIf="show.chatDisplay" id="chat">
            <div class="chatbox" myautoscroll>
                <div *ngFor="let messageData of listMessage[0].messages ">
                    <b>{{messageData.name}} </b>{{ messageData.message }}
                </div>
            </div>
            <input class="form-control" placeholder="Input Message" [(ngModel)]="inputMessage" (keyup.enter)="onSendMessage(inputMessage)">
            <button class="btn btn-info form-control" (click)="onSendMessage(inputMessage)">Send Message</button>
        </div><!--chat--> 

        <div *ngIf="show.assetDisplay" id="image-directory">
            <p>Image Directory</p>
            <div *ngIf=" imageUrlPhoto " (click)="onClickPreviewPhoto()">
            <img [src]="imageUrlPhoto">
            </div>
            <input type="file" (change)="onChangeFile($event)">
            <div *ngIf="position && file_progress">
                <progress [value]="position" max="100"></progress>
            </div>
            <div id="files">
                
            </div>
        </div><!--image-directory-->

        <div id="whiteboard-container" *ngIf="wb.whiteboardDisplay">
            <div id="canvas-image">
            <img [src]="wb.canvasPhoto">
            </div>
            <canvas mycanvas id="mycanvas" [drawSize]="wb.optionDrawSize" [drawColor]="wb.optionDrawColor" [drawMode]="wb.optionDrawMode"></canvas>
            <div id="group-button">
                <button class="btn btn-info" (click)="onClickDrawMode()"><i class="fa fa-pencil" aria-hidden="true"></i> </button>  
                <button class="btn btn-info" (click)="onClickEraseMode()"><i class="fa fa-eraser" aria-hidden="true"></i></button> 
                <button class="btn btn-info" (click)="onClickClear()"><i class="fa fa-square-o" aria-hidden="true"></i></button>
                <select [(ngModel)]="wb.selectDrawColor" (ngModelChange)="wb.optionDrawColor = $event">
                    <option *ngFor="let color of wb.colors" value="{{ color.value }}" >{{color.text}}</option>
                </select>
                <select [(ngModel)]="wb.selectDrawSize" (ngModelChange)="wb.optionDrawSize = $event">
                    <option *ngFor="let size of wb.size" value="{{ size.value }}" >{{size.text}}</option>
                </select>
                <select [(ngModel)]="wb.selectSizeCanvas" (ngModelChange)="onChangeCanvasSize($event)">
                    <option *ngFor="let csize of wb.sizeCanvas" value="{{ csize.value }}" >{{csize.text}}</option>
                </select>
            </div>
        </div>
    </div>