$large_break: 730px;
$my_width: 226px;
$colorblue: #42bdec;
$colorgrey:#4a5a71;
$wb_width: 440px;
$wb_height: 340px;
footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #efefef;
    h4 {
        margin: 0 auto;
        padding: 0.4em;
        color:white;
    }
}
nav {
    border-radius: 0;
}
#room-page {
    margin-bottom: 50px;
}
#room-settings {
    z-index:110; 
    width: 100%;
    position: relative;
    right: 0;
    button {
        border-radius: 0;
        border-color: white;
    }
    @media all and ( min-width: $large_break ) {
        width: 200px;
        position: absolute;
    }
    
}

#video-container {
    position:relative;
    width: 100%;
    @media all and ( min-width: $large_break ) {
        width: $my_width;
    }
    video {
        display: block;
    }
   
}

#device-settings {
    background-color: $colorgrey;
    color:#fff;
    select {
        max-width: $my_width;
    }
    width: $my_width;
    @media all and ( min-width: $large_break ) {
        width: $my_width;
    }
}

#chat{
    width: 100%;
    @media all and ( min-width: $large_break ) {
        width: $my_width;
    }
    .chatbox {
        background-color:#97d3ff;
        height: 140px;
        overflow: hidden;
        overflow-y: scroll;        
    }
}

#image-directory {
    background-color: $colorblue;
    width: 100%;
    input,p {
        color:white;
    }
    #files {
        min-height: 150px;
        background-color: #97d3ff;
    }
    @media all and ( min-width: $large_break ) {
        width: $my_width;
        input {
            color:white;
            font-size:13px;
        }
        img {
            width: $my_width;
        }
    }
}

#whiteboard-container {
    position:relative;
    width: $wb_width;
    height: $wb_height;
   
    @media all and ( min-width: $large_break ) {
        position: absolute;
        z-index: 100;
        top: 62px;
        left: $my_width + 2px;
    }
    canvas {
        position: absolute;
        z-index: 101;
    }
    #canvas-image {
        position: absolute;
        z-index: 0;
        width: 100%;
    }
    #group-button {
        z-index: 102;
        display: block;
        position: absolute;
        top: 0.2em;
        right: 0.2em;
    }
}