  <nav class="navbar navbar-dark bg-info">
      <h1 class="navbar-brand">Video Center 4</h1>
  </nav> 
    <div id="room-page">
        <div id="room-settings">
            <h2>Room Page</h2>
            <h4> {{myRoomname}}</h4>
            <button class="btn btn-warning form-control" (click)="onClickLobby()">Lobby</button>
        </div>  <!--room-settings-->
        <div id="device-settings">
            <select [(ngModel)]="vs.selectAudio" (ngModelChange)="onChangeAudio($event)">
                <option *ngFor="let audio of audios" value="{{ audio.value }}" >{{audio.text}}</option>
            </select>
            <select [(ngModel)]="vs.selectVideo" (ngModelChange)="onChangeVideo($event)">
                <option *ngFor="let video of videos" value="{{ video.value }}" >{{video.text}}</option>
            </select>
        </div>
        <div id="video-container"></div>
        <div id="chat">
            <div class="chatbox" myautoscroll>
                <div *ngFor="let messageData of listMessage[0].messages ">
                    <b>{{messageData.name}} </b>{{ messageData.message }}
                </div>
            </div>
            <input class="form-control" placeholder="Input Message" [(ngModel)]="inputMessage" (keyup.enter)="onSendMessage(inputMessage)">
            <button class="btn btn-success form-control" (click)="onSendMessage(inputMessage)">Send Message</button>
        </div><!--chat-->

        <div id="image-directory">
            <p>Image Directory</p>
            <div *ngIf=" imageUrlPhoto " (click)="onClickPreviewPhoto()">
            <img [src]="imageUrlPhoto">
            </div>
            <input type="file" (change)="onChangeFile($event)">
            <div *ngIf="position && file_progress">
                <progress [value]="position" max="100"></progress>
            </div>
            <div id="files">
                
            </div>
        </div><!--image-directory-->

        <div id="whiteboard-container">
            <div id="canvas-image">
            <img [src]="wb.canvasPhoto">
            </div>
            <canvas mycanvas id="mycanvas" [drawSize]="wb.optionDrawSize" [drawColor]="wb.optionDrawColor" [drawMode]="wb.optionDrawMode"></canvas>
            <div id="group-button">
                <button class="btn btn-primary" (click)="onClickDrawMode()">Draw</button>  
                <button class="btn btn-warning" (click)="onClickEraseMode()">Erase</button> 
                <button class="btn btn-danger" (click)="onClickClear()">Clear</button>
                <select [(ngModel)]="wb.selectDrawColor" (ngModelChange)="wb.optionDrawColor = $event">
                <option *ngFor="let color of wb.colors" value="{{ color.value }}" >{{color.text}}</option>
                </select>
                <select [(ngModel)]="wb.selectDrawSize" (ngModelChange)="wb.optionDrawSize = $event">
                <option *ngFor="let size of wb.size" value="{{ size.value }}" >{{size.text}}</option>
                </select>
            </div>
        </div>
    </div>
  <footer class="footer bg-info"><h4>Withcenter, Inc.</h4></footer> 
