  <nav class="navbar">
    <div class="container-fluid">
      <div class="row">
        <div class="col-xs-7 col-sm-7">
          <logo-small-component></logo-small-component>
        </div>
        <div class="nav-buttons col-xs-5 col-sm-5">
          <!--<button class="btn btn-info float-xs-right" (click)="onClickMenu()"><i class="fa fa-cog" aria-hidden="true" ></i></button>
          <button class="btn btn-info float-xs-right" (click)="onClickMenu()"><i class="fa fa-cog" aria-hidden="true" ></i></button>-->
          <span class="fa-stack fa-lg float-xs-right" (click)="onClickVideo()">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-video-camera fa-stack-1x fa-inverse"></i>
          </span>
          <span class="fa-stack fa-lg float-xs-right" (click)="onClickAudio()">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-volume-up fa-stack-1x fa-inverse"></i>
          </span>
        </div>
      </div>
    </div>
      
  </nav>
  <img id="bg-image" src="assets/img/background1.png" >
  <div id="entrance-container">

    <div class="title-image">
      <img src="assets/img/title-image.jpg">
      <!--<img src="assets/1.png">-->
    </div>
    <div id="form-container">
        <input class="form-control" placeholder="Enter Username" [(ngModel)]="username" (keyup.enter)="onClickSignin()">
        <button class="btn btn-info form-control" (click)="onClickSignin()">Sign In</button>
    </div>

    
    <div class="buttons">
      <span class="fa-stack fa-lg">
        <i class="fa fa-circle fa-stack-2x"></i>
        <i class="fa fa-gear fa-stack-1x fa-inverse"></i>
      </span>
      <span class="fa-stack fa-lg">
        <i class="fa fa-circle fa-stack-2x"></i>
        <i class="fa fa-home fa-stack-1x fa-inverse"></i>
      </span>
      <span class="fa-stack fa-lg">
        <i class="fa fa-circle fa-stack-2x"></i>
        <i class="fa fa-info fa-stack-1x fa-inverse"></i>
      </span>
    </div>


  </div>
  <footer>
    <nav class="nav nav-fixed-bottom">
        <copyright-component></copyright-component>
    </nav>
</footer>
  <template ngbModalContainer></template> 