$large_break: 730px;
$leftwidth: 226px;
$colorblue: #42bdec;
$boxsize: 300px;
$blueborder: #3e9eff;
h2{
    text-align: center;
}
nav {
    border-radius: 0;
}
footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #efefef;
    h4 {
        margin: 0 auto;
        padding: 0.4em;
        color:white;
    }
}


#form-container {
    width: $boxsize;
    text-align: center;
    position:relative;
    margin: 0 auto;
}
#entrance-container {
    max-width: 350px;
    height: 250px;
    text-align: center;
    margin:0 auto;
    margin-top: 10px;
    border: 0.5px solid $blueborder;
    display: block;
    margin-top:25vh;
    padding-top:40px;
}
