[buttons] {
    a {
        display: inline-block;
        padding: 0 0.4em .1em;
        background-color: #dfdfdf;
        border-radius: 2px;
        text-decoration: none;
        color: blue;
    }
}