$large_break: 730px;
$leftwidth: 226px;
$colorblue: #42bdec;
$boxsize: 300px;
$blueborder: #3e9eff;

.entrance-page {
    height: 100vh;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-image: url("assets/img/background1.jpg");
  
}
h2{
    text-align: center;
}
nav {
    border-radius: 0;
    background: #3ea5ff;
    .nav-buttons {
        span {
            display: inline-block;
            padding-left: 1.2em;
            padding-right: 1.2em;
            cursor: pointer;
            i {
                color: #1082c7;
                &.fa-inverse {
                    color: #fff;
                }
            }
        }
    }
 
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}

#entrance-container {
    @media all and ( min-height: 560px ) {
        margin-top: 50px;
    }
    @media all and ( min-height: 700px ) {
        margin-top: 100px;
    }
    margin-left: auto;
    margin-right: auto;
    width: 300px;

    .title-image {
        img {
            width: 100%;
        }
    }
    
    .form-container {
        padding: 2.4em 2em 1em;
        box-sizing: border-box;
        background: #efefef;
        font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
        input, button {
            display: block;
            width: 100%;
            box-sizing: border-box;
        }

        button {
            margin-top: 1em;
            margin-bottom: 1em;
        }
    }

    .buttons {
        padding: .6em 0;
        text-align: center;
        span {
            display: inline-block;
            padding-left: 1.2em;
            padding-right: 1.2em;
            cursor: pointer;
            i {
                color: #1082c7;
                &.fa-inverse {
                    color: #fff;
                }
            }
        }
    }

}



